* {
  box-sizing: border-box;
}

body {
  background-color: #23252c;
  margin: 0;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-container {
  margin-bottom: 0;
  width: 320px;
}

.image-container img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  object-fit: cover;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -0.2em;
  background-color: #1a1b21;
  width: 320px;
  z-index: -1;
}

.main-container > h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 0;
  text-align: center;
}

.main-container > h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #f3bf99;
}

.main-container > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 15px;
  margin-top: 8px;
  /* identical to box height, or 15px */

  text-align: center;

  color: #f5f5f5;
}

.email-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0.5em;
}

.email-button {
  background-image: url(../public/Button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 115px;
  height: 32px;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}


.linkedin-button {
    background-image: url(../public/link.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 115px;
    height: 32px;
    background-color: #5093E2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
  }



.description-container {
  display: flex;
  flex-direction: column;
  padding: 24px 34px;
}

.description-container h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
  /* or 24px */
}

.description-container p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 15px;
  /* or 15px */
  margin-top: 0;
}

.social-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 19px 72px;
  background-color: #161619;
  width: 320px;
  border-radius: 0px 0px 10px 10px;
}
